<div class="row" id="gameview">
  <h1>Can you find the {{game.colorList.randomColor}} block?</h1>
  <p>game.colorList: {{game.colorList}}</p>
  <p>game.colorList.randomColor: {{game.colorList.randomColor}}</p>
  <p>game.currentColor {{game.currentColor}}</p>
  
  <button ng-click="game.refresh()">Refresh Colors</button>


  <p>Current Color: {{game.currentColor}}</p>
  <h3 ng-if="game.messageText != ''" class="alert alert-warning">{{game.messageText}}</h3>
{{game.colorList.colors}}
  <div id="button-container">
    <div class="color-button" ng-repeat="color in game.colorList.colors" ng-style="{background: color.name}" ng-click="game.handleInput(color.name)">asdf</div>
  </div>
</div>
